@import '../../../assets/sass/variables';

.card {
  @include card-bcg;
  &__img_box {
    position: relative;
    width: 375px;
    height: 260px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    &__violet {
      background-image: radial-gradient(
          237.33% 143.89% at 100% -0%,
          rgba(235, 33, 118, 0.74) 0%,
          rgba(153, 13, 148, 0.73) 99.79%
        ),
        url('../../../assets/images/png/female-web.jpg');
    }
    &__lgreen {
      background-image: linear-gradient(
          135deg,
          #10e2ef 0%,
          rgba(99, 254, 4, 0.66) 100%
        ),
        url('../../../assets/images/png/photographers.jpg');
    }
    &__orange {
      background-image: linear-gradient(
          135deg,
          #ef6010 0%,
          rgba(254, 139, 4, 0.66) 100%
        ),
        url('../../../assets/images/png/technology.jpg');
    }
    &__blue {
      background-image: radial-gradient(
          237.33% 143.89% at 100% -0%,
          rgba(19, 124, 246, 0.74) 0%,
          rgba(84, 34, 228, 0.73) 99.79%
        ),
        url('../../../assets/images/png/man.jpg');
    }
    &__lorange {
      background-image: radial-gradient(
          237.33% 143.89% at 100% -0%,
          rgba(246, 19, 19, 0.74) 0%,
          rgba(224, 228, 34, 0.73) 99.79%
        ),
        url('../../../assets/images/png/top.jpg');
    }
    &__green {
      background-image: linear-gradient(
          135deg,
          #22ef10 0%,
          rgba(144, 254, 4, 0.66) 100%
        ),
        url('../../../assets/images/png/top-view.jpg');
    }
  }
  &__heading {
    position: absolute;
    width: 30rem;
    top: 5.5rem;
    right: 2.5rem;
    text-align: right;
    font-family: $font-play-regular;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: $color-white;
  }
  &__content {
    padding: 2.5rem 2.2rem;
  }
  &__price {
    font-family: $font-opensans-extra-bold;
    margin-bottom: 4rem;
    font-size: 2rem;
    line-height: 2.9rem;
    color: $color-violet;
  }
  &__btn {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}
