@import '../../assets/sass/_variables.scss';

.nav {
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  height: calc(100vh - 14rem);
  top: 50px;
  right: -100%;
  z-index: 5000;
  background: $color-blue-opacity;
  transition: all 0.3s;
  display: none;
}

.nav_active {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: calc(100vh - 14rem);
  top: 50px;
  right: 0%;
  z-index: 5000;
  background: $color-blue-opacity;
  transition: all 0.3s;
}

.nav_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 3rem;
}

.nav_item:not(:last-child) {
  margin-bottom: 3rem;
}

.nav_link {
  font-family: $font-opensans-regular;
  font-size: 1.8rem;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

.nav_link:hover {
  color: $color-red;
}

.nav_link_active {
  font-family: $font-opensans-regular;
  font-size: 1.8rem;
  color: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

.phone_link {
  font-family: $font-play-regular;
  font-size: 1.8rem;
  color: $color-white;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}

@media only screen and (max-width: 40em) {
  .nav {
    display: flex;
  }
  .nav_active {
    display: flex;
  }
}
