.nav {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item {
  display: flex;
}

.nav_item:not(:last-child) {
  margin-right: 1rem;
}

.nav_link {
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_link_img {
  width: 2rem;
  height: 2rem;
}

.nav_link:hover {
  transform: translateY(-0.5rem);
}
