.about {
  width: 100%;
  height: calc(100vh - 14rem);
  padding: 2rem 4rem;
  background: linear-gradient(
    107.25deg,
    rgba(169, 169, 169, 0.45) 0.51%,
    rgba(239, 239, 239, 0.9) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_container {
  width: 144rem;
}

.about_info {
  width: 100%;
  display: flex;
}

.about_info_img_block {
  min-width: 29rem;
  height: 30.5rem;
  margin-right: 4rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.about_info_image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_info_content {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.about_info_header {
  font-family: var(--font-play-regular);
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--color-red);
  margin-bottom: 1.5rem;
}

.about_info_text {
  font-family: var(--font-play-regular);
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.about_info_text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about_mission {
  width: 100%;
  margin-top: 3rem;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.about_mission_content {
  margin-right: 4rem;
  max-width: 60%;
  border-left: 2px solid var(--color-red);
  padding-left: 0.5rem;
}

.about_mission_header {
  font-family: var(--font-play-regular);
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-red);
  margin-bottom: 1.5rem;
}

.about_mission_text {
  font-family: var(--font-play-regular);
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: justify;
}

.about_mission_strong {
  font-weight: 700;
}

.about_info_text_red {
  font-weight: 700;
  color: var(--color-red);
}

.about_info_text_blue {
  font-weight: 700;
  color: var(--color-blue);
}

.about_mission_img_block {
  min-width: 55rem;
  min-height: 16.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

@media only screen and (max-width: 48em) {
  .about_container {
    padding: 0 7rem;
  }

  .about_mission_text,
  .about_info_text {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .about_info_img_block,
  .about_mission_img_block {
    display: none;
  }

  .about_info_header {
    text-align: center;
  }

  .about_mission_content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 34.37em) {
  .about_container {
    padding: 0 2rem;
  }
  .about {
    padding: 0;
  }

  .about_mission_text,
  .about_info_text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media only screen and (max-width: 20.5em) {
  .about {
    height: auto;
  }
  .about_container {
    padding: 2rem;
  }
}
