@import '../assets/sass/variables';

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    107.25deg,
    rgba(169, 169, 169, 0.45) 0.51%,
    rgba(239, 239, 239, 0.9) 100%
  );
  overflow: hidden;
  @include respond(mini-phone) {
    height: auto;
  }
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    @include respond(m-phone) {
      padding: 1rem 2rem;
    }
  }
  &__info {
    width: 100%;
    display: flex;
    &_img__block {
      box-shadow: $box-shadow;
      border-radius: 1rem;
      margin-right: 5rem;
      width: 23rem;
      height: 23rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond(m-phone) {
        display: none;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    &_text__block {
      width: 80%;
      @include respond(m-phone) {
        width: 100%;
      }
    }
    &__header {
      font-family: $font-play-regular;
      font-size: 2rem;
      font-weight: 700;
      color: $color-blue;
      margin-bottom: 1rem;
    }
  }
  &__info__text {
    font-family: $font-play-regular;
    font-size: 1.6rem;
    color: $color-black-light;
    line-height: 1.9rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &_red {
      font-weight: 700;
      color: $color-red;
    }
    &_blue {
      font-weight: 700;
      color: $color-blue;
    }
  }
  &__mission {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    &_text__block {
      width: 50%;
      @include respond(m-phone) {
        width: 100%;
      }
    }
    &_img__block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      box-shadow: $box-shadow;
      border-radius: 1rem;
      @include respond(m-phone) {
        display: none;
      }
    }
    &__header {
      font-family: $font-play-regular;
      font-size: 1.8rem;
      text-transform: uppercase;
      color: $color-red;
      margin-bottom: 1rem;
    }
    &__text {
      font-family: $font-play-regular;
      padding-left: 1rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-align: justify;
      color: $color-black-light;
      border-left: 2px solid $color-red;

      &_strong {
        font-weight: 700;
      }
    }
  }
}

// @media only screen and (max-width: 48em) {
//   .about_container {
//     padding: 0 7rem;
//   }

//   .about_mission_text,
//   .about_info_text {
//     font-size: 2.2rem;
//     line-height: 3rem;
//   }

//   .about_info_img_block,
//   .about_mission_img_block {
//     display: none;
//   }

//   .about_info_header {
//     text-align: center;
//   }

//   .about_mission_content {
//     max-width: 100%;
//   }
// }

// @media only screen and (max-width: 34.37em) {
//   .about_container {
//     padding: 0 2rem;
//   }
//   .about {
//     padding: 0;
//   }

//   .about_mission_text,
//   .about_info_text {
//     font-size: 1.6rem;
//     line-height: 2.6rem;
//   }
// }

// @media only screen and (max-width: 20.5em) {
//   .about {
//     height: auto;
//   }
//   .about_container {
//     padding: 2rem;
//   }
// }
