.about {
  width: 100%;
  height: 100vh;
  padding: 2rem 4rem;
  background: linear-gradient(107.25deg, #e6e6e6 0.51%, #e6e6e6 93.26%);
}

.about_info {
  width: 100%;
  display: flex;
}

.about_info_img_block {
  max-width: 40rem;
  height: 31rem;
  margin-right: 5rem;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.about_info_image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_info_content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.about_info_header {
  font-family: var(--font-play-regular);
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--color-red);
  line-height: 3.1rem;
}

.about_info_text {
  font-family: var(--font-play-regular);
  font-size: 2rem;
  line-height: 2.3rem;
}

.about_info_text:not(:last-child) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.about_mission {
  width: 100%;
  margin-top: 3rem;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.about_mission_content {
  max-width: 60%;
  border-left: 2px solid var(--color-red);
  padding-left: 0.5rem;
}

.about_mission_header {
  font-family: var(--font-play-regular);
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-red);
}

.about_mission_text {
  font-family: var(--font-play-regular);
  font-size: 2rem;
  line-height: 2.3rem;
}

.about_mission_img_block {
  max-width: 33%;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

@media only screen and (max-width: 64em) {
}
