@import '../assets/sass/variables';

.about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    107.25deg,
    rgba(169, 169, 169, 0.45) 0.51%,
    rgba(239, 239, 239, 0.9) 100%
  );
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about_info_image {
  box-shadow: $box-shadow;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.about_info_header {
  margin: 0;
  padding: 0;
  font-family: $font-play-regular;
  font-size: 2.1rem;
  font-weight: 700;
  color: $color-red;
  margin-bottom: 1.5rem;
}

.about_info_text {
  margin: 0;
  padding: 0;
  font-family: $font-play-regular;
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.about_info_text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about_mission_content {
  margin: 0;
  padding: 0;
  border-left: 2px solid $color-red;
  padding-left: 0.5rem;
}

.about_mission_header {
  font-family: $font-play-regular;
  font-size: 2rem;
  text-transform: uppercase;
  color: $color-red;
  margin-bottom: 1.2rem;
}

.about_mission_text {
  font-family: $font-play-regular;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: justify;
}

.about_mission_strong {
  font-weight: 700;
}

.about_info_text_red {
  font-weight: 700;
  color: $color-red;
}

.about_info_text_blue {
  font-weight: 700;
  color: $color-blue;
}

.about_mission_img_block {
  min-width: 55rem;
  min-height: 16.5rem;
  box-shadow: $box-shadow;
  border-radius: 1rem;
}
