@import '../assets/sass/variables';

.dev {
  width: 100%;
  background: linear-gradient(
    107.25deg,
    rgba(169, 169, 169, 0.45) 0.51%,
    rgba(239, 239, 239, 0.9) 100%
  );
  overflow: hidden;
  &__section {
    width: 100%;
    padding: 2rem 4rem;
  }
  &__info {
    display: flex;
    width: 100%;
    &_image__box {
      width: 25%;
      margin-right: 5rem;
      filter: drop-shadow(-4px 5px 3px rgba(0, 0, 0, 0.25));
      border-radius: 5rem;
      @include respond(phone) {
        display: none;
      }
      &_image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }
    &_text__box {
      width: 65%;
      @include respond(phone) {
        width: 100%;
      }
      &_heading {
        margin-bottom: 1rem;
        font-family: $font-play-regular;
        font-size: 2rem;
        color: $color-blue;
        letter-spacing: 0.3rem;
      }
      &_typography {
        font-family: $font-play-regular;
        font-size: 1.6rem;
        color: $color-black-light;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        &_strong {
          padding-left: 1rem;
          border-left: 0.3rem solid $color-red;
          margin-top: 2rem;
          font-family: $font-play-regular;
          font-size: 1.6rem;
          color: $color-red;
        }
      }
    }
  }
  &__features {
    padding: 6rem 0;
    width: 100%;
    &_box__heading {
      width: 100%;
      &_header {
        text-align: center;
        font-family: $font-play-regular;
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-black-light;
        letter-spacing: 0.5rem;
      }
    }
    &_content {
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.seo_support {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include respond(m-tab-port) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.seo_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  padding: 2rem;
  border-radius: 5px;
  margin-right: 4rem;
  background: rgba(195, 57, 198, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include respond(m-tab-port) {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  @include respond(m-mini-phone) {
    width: 100%;
  }
  &__heading {
    margin-bottom: 1.3rem;
    font-family: $font-play-regular;
    color: $color-white;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  &__text {
    font-family: $font-play-regular;
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1.3rem;
  }
  &__list {
    list-style: none;
    margin-bottom: 1.5rem;
    &_item {
      font-family: $font-play-regular;
      font-size: 1.5rem;
      color: $color-white;
    }
  }
}

.support_card {
  width: 50rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background: rgba(75, 55, 200, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include respond(m-mini-phone) {
    width: 100%;
  }
  &__heading {
    margin-bottom: 1.3rem;
    font-family: $font-play-regular;
    color: $color-white;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  &__text {
    font-family: $font-play-regular;
    font-size: 1.8rem;
    color: $color-white;
    margin-bottom: 1.3rem;
  }
}
