@import '../assets/sass/_variables.scss';

@font-face {
  font-family: 'PlayRegular';
  src: url('../assets/fonts/Play/Play-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../assets//fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets//fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../assets//fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}
