@font-face {
  font-family: 'PlayRegular';
  src: url('../assets/fonts/Play/Play-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../assets//fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets//fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root {
  --color-white-opacity: rgba(255, 255, 255, 0.7);
  --color-white-opacity-2: rgba(195, 195, 195, 0.9);
  --color-white: rgb(255, 255, 255);
  --color-blue: rgba(49, 45, 129, 1);
  --color-blue-opacity: rgba(49, 45, 129, 0.8);
  --color-red: #ff2f2f;
  --color-red-dark: #ce1414;
  --color-black-opacity: rgba(0, 0, 0, 0.8);
  --color-black-light: rgb(62, 62, 62);
  --font-play-regular: 'PlayRegular';
  --font-opensans-bold: 'OpenSansBold';
  --font-opensans-regular: 'OpenSansRegular';
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}
