:root {
  --color-white: rgba(255, 255, 255, 0.8);
  --color-blue: rgba(49, 45, 129, 0.97);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
