@import '../../assets/sass/variables';

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item:not(:last-child) {
  margin-right: 2rem;
}

.nav_link {
  margin: 0;
  padding: 0;
  font-family: $font-opensans-regular;
  font-size: 1.3rem;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

.nav_link:hover {
  margin: 0;
  padding: 0;
  color: $color-red;
}

.nav_link_active {
  margin: 0;
  padding: 0;
  font-family: $font-opensans-regular;
  font-size: 1.3rem;
  color: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

@media only screen and (max-width: 40em) {
  .nav {
    margin: 0;
    padding: 0;
    display: none;
  }
}
