@import '../../assets/sass/variables';

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item:not(:last-child) {
  margin-right: 3rem;
}

.nav_link {
  font-family: $font-opensans-regular;
  font-size: 1.8rem;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

.nav_link:hover {
  color: $color-red;
}

.nav_link_active {
  font-family: $font-opensans-regular;
  font-size: 1.8rem;
  color: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s;
}

@media only screen and (max-width: 40em) {
  .nav {
    display: none;
  }
}
